  <div class="page_wrapper">
    <%= form_for @post, :html => {:multipart => true } do |f| %>
        <% if @post.errors.any? %>
            <div>
              <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <p class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, :class => "form-control" %>
        </p>
        <p>
          <%= f.file_field :post_image %>
        </p>
        <p>
          <%= f.label :remote_post_image_url, "or load with URL" %><br>
          <%= f.text_field :remote_post_image_url %>
        </p>
        <p class="form-group">
          <%= f.label :body %><br>
          <%= f.text_area :body, id: "wysiwyg" %>
        </p>
        <p>
          <%= f.submit %>
        </p>
    <% end %>
  </div>
<script>
  $('#wysiwyg').froalaEditor({
    toolbarInline: false,
    heightMin: '200px',
    charCounterCount: true,
    htmlAllowedTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'a', 'embed', 'iframe', 'video'],
    htmlAllowedAttrs: ['accept', 'accept-charset', 'accesskey', 'action', 'align', 'alt', 'async', 'autocomplete', 'autofocus', 'autoplay', 'autosave', 'background', 'bgcolor', 'border', 'charset', 'cellpadding', 'cellspacing', 'checked', 'cite', 'class', 'color', 'cols', 'colspan', 'content', 'contenteditable', 'contextmenu', 'controls', 'coords', 'data', 'data-.*', 'datetime', 'default', 'defer', 'dir', 'dirname', 'disabled', 'download', 'draggable', 'dropzone', 'enctype', 'for', 'form', 'formaction', 'headers', 'height', 'hidden', 'high', 'href', 'hreflang', 'http-equiv', 'icon', 'id', 'ismap', 'itemprop', 'keytype', 'kind', 'label', 'lang', 'language', 'list', 'loop', 'low', 'max', 'maxlength', 'media', 'method', 'min', 'multiple', 'name', 'novalidate', 'open', 'optimum', 'pattern', 'ping', 'placeholder', 'poster', 'preload', 'pubdate', 'radiogroup', 'readonly', 'rel', 'required', 'reversed', 'rows', 'rowspan', 'sandbox', 'scope', 'scoped', 'scrolling', 'seamless', 'selected', 'shape', 'size', 'sizes', 'span', 'src', 'srcdoc', 'srclang', 'srcset', 'start', 'step', 'summary', 'spellcheck', 'style', 'tabindex', 'target', 'title', 'type', 'translate', 'usemap', 'value', 'valign', 'width', 'wrap'],
    toolbarButtons: ['bold', 'italic', 'insertVideo', 'underline','paragraphFormat','align',
      'formatUL', 'formatOL','insertVideo', 'clearFormatting', 'indent',
      'insertLink', 'html', 'url'],
  })
</script>