<div class="page_wrapper">
<h2><%= @post.title %></h2>
<h2><%= image_tag @post.post_image_url(:thumb).to_s %></h2>
<p>
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
  <% if user_signed_in? %>
    | <%= link_to 'Edit?', edit_post_path(@post) %> |
      <%= link_to 'Delete?', post_path(@post), method: :delete, data: { confirm: 'Uh oh! Are you sure you would like to delete post?'} %>
  <% end %>
</p>
  <div class="froala-view">
    <%= simple_format(@post.body).html_safe %>
  </div>


  <%= render 'disqus'%>

</div>